.center_color{
  background-image: url('../img/ranbow_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-1{
  width:80%;
  margin:auto;
}

.box-1{
  color:black;

  border-right: 10px black solid;
  border-left: 10px black solid;
  border-top: 10px black solid;
  border-bottom: 10px black solid;
  padding 20px;
  margin: 20px;
  background-image: url('../img/blue_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.2em;
  word-spacing:0.8em;
}

.weblink {
  border: 1px #ccc solid;
  padding:10px;
  border-radius:15;
  margin:auto;
  width:80%;
}

.weblink h2{
  text-align:center;
  font-style: italic;
}

.weblink u1{
  padding:1;
  list-style: none;
}

.weblink li{
  padding-bottom:8px;
  border-bottom:dotted 1px #333;
  list-style-image: url('../img/arrow.png');
}

a{
  text-decoration: none;
  color:blue;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

a:visited{
<<<<<<< HEAD
  color:brown;
=======
  color:blue;
>>>>>>> e450006feb2044a16d0f3bb7fffa917c265936dc
}

.container-1{
  width:80%;
  margin:auto;
}

/* Haolin */
.box-left{
  background-color: white;
  border-top: 5px green solid;
  border-left: 5px green solid;
  border-right: 5px green solid;
  border-bottom: 5px green solid;
  position:absolute;
  width: 400px;
  height: 400px;
}

.box-right{
  background-color: white;
  border-top: 5px green solid;
  border-left: 5px green solid;
  border-right: 5px green solid;
  border-bottom: 5px green solid;
  position:absolute;
  right: 400px;
  width: 400px;
  height: 400px;
}

.section-left{
  font-style: Bold;
  color: red;
  font-family: "Brush Script MT";
  font-size: 40px;
}

.section-right{
  font-style: Bold;
  color: red;
  font-family: "Brush Script MT";
  font-size: 40px;
  position: absolute;
  right:385px;
}
