/*Zejun Ren*/
.background_color{
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.line1 {
  display: block;
  border-top: 2px solid red;
  left: 0px;
  width: 100%;
  margin: 0;
}

.line2 {
  color: green solid;
  width: 50%;
  height: 2px;
}

.header-1{
  width:80%;
  margin:auto;
}

.Header-1{
  width:80%
  margin: auto;
}

.box-1{
  color:black;
  border-radius: 25px;
  border-right: 10px black solid;
  border-left: 10px black solid;
  border-top: 10px black solid;
  border-bottom: 10px black solid;
  border-style: groove;
  padding 20px;
  margin: 20px;
}

.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  letter-spacing: 0.2em;
  word-spacing:0.8em;
}

.weblink {
  border: 5px gray solid;
  padding:10px;
  border-radius:15;
  border-style: double;
  margin-left: 170px;
  margin-top: 100px;
  width: 400px;
  height: 250px;
  box-shadow: 10px 10px 5px grey;
  background: url('../img/paper_bg.jpg');
  float: left;
}

.weblink_right {
  border: 5px gray solid;
  padding:10px;
  border-radius:15;
  border-style: double;
  margin-right: 170px;
  margin-top: 100px;
  width: 400px;
  height: 250px;
  box-shadow: 10px 10px 5px grey;
  background: url('../img/paper_bg.jpg');
  float: right;
}

.weblink_right h2{
  text-align:center;
  font-style: italic;
}

.button1 {
  background-color: #4CAF50;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 118px;
  margin-top: 50px;
  cursor: pointer;
}

.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.weblink h2{
  text-align:center;
  font-style: italic;
}

.weblink u1{
  padding:1;
  list-style: none;
}

.weblink li{
  padding-bottom:8px;
  padding-top: 8px;
}

links1{
  color:blue;
}

links1:hover {
  text-decoration: underline;
  font-size:110%;
}

/*================================================*/
/* Haolin */
.background_color1{
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}
.box-left{
  border: 5px gray solid;
  padding:10px;
  border-radius:15;
  border-style: double;
  margin-left: 100px;
  width: 400px;
  height: 400px;
  box-shadow: 10px 10px 5px grey;
  background: url('../img/paper_bg.jpg');
  float: left;
  display:inline-block;
}

.box-left table, tr, td {
  border:2px gray solid;
  font-size:15px;
}

.section-left{
  font-style: Bold;
  color: red;
  font-family: "Brush Script MT";
  font-size: 40px;
  margin-left: 100px;
}
.section-left1 {
  font-style: Bold;
  color: red;
  font-family: "Brush Script MT";
  font-size: 40px;
  margin-left: 160px;
}
.aboutmebutton {
  background-color: #4CAF50;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position:relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imgresize {
  position:relative;
  margin-top:100px;
  margin-bottom:100px;
}

.rotate1 {
  transform: rotate(30grad);
  margin-left:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.rotate2 {
  transform: rotate(-40grad);
  margin-left:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.rotate3{
  transform: rotate(60grad);
  margin-left:50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*Zejun
#borderimg1 {
  border: 10px solid transparent;
  border-image: url('../img/china_view.jpg');
  transform: rotate(30grad);
  margin-left: 50px;
}
*/

p, table, li {
  font-family: "Comic Sans MS";
  font-size:17px;
}
.firstletter{
  font-size: 500%;
}

hr{
  border: 1px solid #686868;
}

.clear {
  clear:both;
}
